body {
    font-family: Calibri, sans-serif;
    margin: 0;
}

header {
    background-color: #20458E;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
}

main {
    padding: 30px;
}

h2, h3 {
    color: #20458E;
}

button {
    background-color: #155EBC;
    color: white;
    padding: 10px 20px;
}

table {
    width: 100%;
}

td {
    border: 1px solid gray;
    padding: 15px;
    text-align: center;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
}

footer {
    background-color: #001F3F;
    color: white;
    padding: 30px;
    text-align: center;
}